<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMEDORO Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="header">
        <a href="/"><h1 class="header_logo">ANIMEDORO Timer</h1></a>
    </div>
    <main class="main">
        <h2 class="heading">Congratulations</h2>
        <span class="u-center-text">You've completed {{ sets }} sets. </span>
        
    </main>
</body>
</html>