<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMEDORO Timer</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="/">Animedoro Timer.</a>
        </div>
      </nav>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 offset-3 p-5">
                <h2 class="heading">Setup</h2>

                <form class="form" method="post" action="">
                    <label class="form_label" for="study">Study:</label>
                    <input class="form_input" id="study" name="study" type="number" value="60">
                    <span class="units">(minutes)</span>
                    
                    <label class="form_label" for="rest">Break:</label>
                    <input class="form_input" id="rest" name="rest" type="number" value="25">
                    <span class="units">(minutes)</span>

                    <label class="form_label" for="sets">Sets:</label>
                    <input class="form_input" id="sets" name="sets" type="number" value="3">

                    <div class="form_button-container">
                        <button class="button btn btn-success btn-lg mt-3" type="submit">Start!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>