<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMEDORO Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="header">
        <a href="/"><h1 class="header_logo">ANIMEDORO Timer</h1></a>
    </div>
    <main class="main">
        <h2 class="heading">
            study
            <span class="sets" id="sets">set: {{ sets }}</span>
        </h2>
        <span class="timer" id="timer">{{ study//60 }}m</span>
        <progress max="{{ study }}" value="{{ study }}" class="progress progress-study" id="progressBar"></progress>

    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>